<div class="product-show container-fluid">

      <div class="product-producer">
      <h2>My Favorite Producers</h2>
      <div class="mytab-div">
        <ul class="nav nav-tabs products d-flex justify-content-between mt-3 pb-3" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="category-icon nav-link -border" id="fruits-tab" href="#fruits" role="tab" aria-controls="fruits" aria-selected="false"> <%= image_tag "fruits.svg", class: "category" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="category-icon nav-link -border" id="vegetables-tab" href="#vegetables" role="tab" aria-controls="vegetables" aria-selected="false"> <%= image_tag "vegetables.svg", class: "category" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="category-icon nav-link -border" id="cereals-tab" href="#cereals" role="tab" aria-controls="cereals" aria-selected="false"> <%= image_tag "cereals.svg", class: "category" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="category-icon nav-link -border" id="dairy-tab" href="#dairy" role="tab" aria-controls="dairy" aria-selected="false"> <%= image_tag "dairy.svg", class: "category" %>
            </a>
          </li>
          <li class="nav-item">
            <a class="category-icon nav-link -border" id="meat-tab" href="#meat" role="tab" aria-controls="meat" aria-selected="false"> <%= image_tag "meat.svg", class: "category" %>
            </a>
          </li>
<!--           <li class="nav-item">
            <a class="category-icon nav-link -border" id="meat-tab" data-toggle="tab" href="#meat" role="tab" aria-controls="meat" aria-selected="false"> <%= image_tag "meat.svg", class: "category" %>
            </a>
          </li> -->
        </ul>
      </div>

  <div class="product-producer">
    <% if @producers == [] %>
      <div>
        <div class="alert-warning" role="alert">You didn't choose a favorite producer yet.</div>
      </div>
    <% else %>
      <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item active">
            <a class="nav-link" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="true">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="maps-tab" data-toggle="tab" href="#maps" role="tab" aria-controls="maps" aria-selected="false">Map</a>
          </li>
        </ul>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
          <%= render partial: 'shared/producer-card', collection: @producers, as: :producer %>
        </div>
        <div class="tab-pane fade" id="maps" role="tabpanel" aria-labelledby="maps-tab">
          <div
            id="map"
            style="width: 100%;
            height: 400px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        </div>
      </div>
    <% end %>

</div>
</div>


