<div class="card-post">
  <% if post.post_type.nil? %>
    <div></div>
  <% else %>
    <% if post.post_type == "update" %>
      <%= image_tag post.photo, class:"card-post-img" %>
    <% else post.post_type == "event" %>
      <% @markers = { lat: post.latitude, lng: post.longitude, image_url: image_url('marker.svg')}%>
        <div
          id="map"
          class="card-post-map"
          data-markers="[<%= @markers.to_json %>]"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
    <% end %>
    <div class="card-post-body">
      <p><%= post.created_at.to_date.strftime('%d.%m.%Y') %></p>
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>
    </div>
      <%= link_to producer_path(post.producer_id) do %>
        <%= cl_image_tag post.producer.photo, width: 90, height: 90, crop: :scale, class:"avatar-large card-post-avatar " %>
      <% end %>
  <% end %>
</div>
