<div class="card-producer">
  <i class="far fa-heart heart-empty card-producer-heart"></i>
  <%= image_tag 'product', class:"card-producer-img" %>
  <div class="card-producer-body">
    <h3><%=@producer.name%></h3>
    <div class="card-producer-address">
      <p><%=@producer.street%></p>
      <p><%=@producer.city%></p>
      <p><%=@producer.region%></p>
    </div>
    <div class="card-producer-distance">
      <p>12km</p>
    </div>
  </div>
</div>
