<div class="col-6 mt-3 px-2">
  <%= link_to product_path(product, search: params[:search].present? ? params[:search][:query] : "") do %>

    <div class="card-product">
      <% if current_user.voted_for? product  %>
        <%= link_to product_downvote_path(product), method: :patch, class: "button is-link" do %>
          <span class="icon">
            <i class="fas fa-heart heart-full card-product-heart"></i>
          </span>
        <% end %>
      <% else %>
        <%= link_to product_upvote_path(product), method: :patch, class: "button is-link" do %>
          <span class="icon">
            <i class="fas fa-heart heart-empty card-product-heart"></i>
          </span>
        <% end %>
      <% end %>

      <%= image_tag product.photo, class:"card-product-img" %>

      <%= link_to product_path(product, search: params[:search].present? ? params[:search][:query] : "") do %>
        <div class="card-product-body">
          <h3><%= product.name %></h3>
          <% if product.season_start? && product.season_end? %>
            <p><%= product.season_start_month %> - <%= product.season_end_month %></p>
          <% end %>
        </div>
      <% end %>
     </div>
  <% end %>
</div>
