
<div class="card-producer">
  <i class="far fa-heart heart-empty card-producer-heart"></i>
  <%= image_tag producers.photo, class:"card-producer-img" %>
  <div class="card-producer-body">
    <h3><%=@producers.company_name%></h3>
    <div class="card-producer-address">
      <p><%=producers.street%></p>
      <p><%=producers.city%></p>
      <p><%=producers.region%></p>
    </div>
    <div class="card-producer-distance">
      <p>12km</p>
    </div>
  </div>
</div>
