<%= link_to producer_path(producer) do %>
  <div class="card-producer">
    <i class="far fa-heart heart-empty card-producer-heart"></i>
    <%= image_tag producer.photo, class:"card-producer-img" %>
    <div class="card-producer-body">
      <h3><%=producer.company_name%></h3>
      <div class="card-producer-address">
        <% if producers.street > 15 %>
          <p><%= producers.street[0..14]%>..</p>
        <% else %>
          <p><%= producers.street %></p>
        <% end %>
        <p><%=producers.city%></p>
        <p><%=producers.region%></p>
      </div>
      <div class="card-producer-distance">
        <p>12km</p>
      </div>
    </div>
  </div>
<% end %>
