<div class="container-fluid">
  <%= render 'shared/banner-show-product' %>
  <%= render 'shared/banner-featured' %>
  <%= render 'shared/banner-home' %>
  <i class="fas fa-info-circle info"></i>
  <i class="fas fa-carrot category"></i>
  <br>
  <a href="" class="btn-gold">Button</a>
  <%= render 'shared/product-card' %>
  <%= render 'shared/producer-card' %>
  <%= render 'shared/post-card' %>
</div>
