<div class="container-fluid">
  <div class="container-content">
    <% if params[:from_linkto].present? %>
      <%= link_to "Back", producer_path(@producer) , class: "btn btn-gold"%>
      <h1 class="title">All updates</h1>
      <div class="newsfeed-container">
        <%= render partial: 'shared/post-card', collection: @all_posts, as: :post %>
      </div>
    <% else %>
      <h1 class="title"><%= @producer.company_name %></h1>
      <%= render 'shared/banner-show-producer', locals: { to_delete: false} %>
      <h4 class="gold-text"><%= @producer.address%></h4>
      <p><%= @producer.description %></p>
      <ul>
        <% if params[:search].present? && params[:search][:query].blank? == false %>
          <li><i class="fas fa-info-circle info"></i>Distance: <%=@producer.distance_to(params[:search][:query]).to_i%>km</li>
        <% else %>
          <li><i class="fas fa-info-circle info"></i>Distance: <%=@producer.distance_to(current_user).to_i%>km</li>
        <% end %>
        <li><i class="fas fa-info-circle info"></i>Region: <%= @producer.region %></li>
        <li><i class="fas fa-info-circle info"></i>Website: <%= @producer.website %></li>
      </ul>
      <% unless @post.nil? %>
          <h2 class="title">Latest Updates</h2>
          <%= render partial: 'shared/post-card', object: @post, as: :post%>
          <div class="text-center">
            <%= link_to "Show all updates", producer_path(@producer, from_linkto: true) , class: "btn btn-gold"%>
          </div>
      <% end %>
      <h2 class="title mt-4">Product Overview</h2>
      <% if @products == [] %>
        <div class="alert-warning" role="alert">The producer has no product offers right now.</div>
      <% else %>
        <div class="row mx-0 my-3">
          <%= render partial: 'shared/product-card-in-season', collection: @products_in_season, as: :product, locals: { to_delete: false } %>
          <%= render partial: 'shared/product-card-not-in-season', collection: @products_not_in_season, as: :product, locals: { to_delete: false } %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


