<div class="container-fluid">
  <%= render 'shared/banner-show-producer' %>

  <div class="product-season">
    <p><%= @producer.address%></p>
  </div>

  <div>
    <p><%= @producer.description %></p>
  </div>

  <div>
    <ul>
      <li><i class="fas fa-info-circle info"></i>Distance: 12km</li>
      <li><i class="fas fa-info-circle info"></i>Region: <%= @producer.region %></li>
      <li><i class="fas fa-info-circle info"></i>Website: <%= @producer.website %></li>
    </ul>
  </div>


  <% unless @post.nil? %>
    <div class=“producer-show”>
      <h2 class="updates">Latest Updates</h2>
      <%= render partial: 'shared/post-card', object: @post, as: :post%>
    </div>
  <% end %>

  <div class="producer-show">
    <br>
    <h2>Product Overview</h2>
  </div>

  <div class="row">
    <%= render partial: 'shared/product-card', collection: @products, as: :product %>
  </div>

</div>
