<div class="post-index container-fluid">
  <div class="container-content">
    <h1 class="mt-3">Hello <%= current_user.username %> !</h1>
    <h2 class="mb-4">How are you today?</h2>
    <div class="newsfeed-menu mb-4">
      <div class="newsfeed-menu-left">
        <div class="newsfeed-menu-products">
          <%= link_to products_path do %>
            <p>Discover new products</p>
          <% end %>
          <%= image_tag "products_search.svg", id: "products-search", alt: "Search Icon for products" %>
        </div>
        <div class="newsfeed-menu-options">
          <%= link_to edit_user_registration_path do %>
            <div class="account"><p>Edit your account</p></div>
          <% end %>
          <%= link_to favourite_products_path do %>
            <div class="favourite-products"><p>Favourite products</p></div>
          <% end %>
        </div>
      </div>
      <%= link_to favourite_producers_path do %>
        <div class="newsfeed-menu-right">
          <p>Favourite producers</p>
          <%= image_tag "producer_marker.svg", id: "producer-marker", alt: "Marker of a producer" %>
          <%= image_tag "producer_icon.svg", id: "producer-icon", alt: "Icon of a producer" %>
        </div>
      <% end %>
    </div>
    <h2 class="title">Updates</h2>
    <% if @posts == [] %>
      <div class="alert-warning" role="alert">You have no favourite producers yet. Mark your favourites and see their updates here. </div>
    <% else %>
      <div class="newsfeed-container">
        <%= render partial: 'shared/post-card', collection: @posts, as: :post %>
      </div>
    <% end %>
  </div>
</div>
